.navbar {
    background-color: darkslategrey;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: black;
    display: flex;
    margin:20px 10px;
    justify-content: space-between;
}

.logo {
    font-weight: 1000;
    font-size: xx-large;
}

.navButton {
    margin-left: 10px;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    background-color: white;
}